// Century Gothic
@font-face {
    font-family: 'century';
    src: url('../font/century.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Colors
$vert         : #bcd637;
$gris         : #282828;
$grisclair    : #939393;
$grisback     : rgb(230, 230, 230);
$grisbackalpha: rgba(230, 230, 230, 0.9);
$white        : #f5f5f5;

// Font family
//$font         : 'century', sans-serif;
$font         : Arial,sans-serif;
