@import "defines";

html, body {
  width      : 100%;
  height     : 100%;
  margin     : 0;
  padding    : 0;
  overflow   : hidden;
  font-family: $font;
  background-size: cover;
}

* {
    outline: 0; // Remove any selection outline
}